@import "./styles/variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Codec Pro, sanserif;
  box-sizing:border-box;
}


html, body, #__nuxt, #__layout {
  height: 100%;
}


@font-face {
  font-family: 'Codec Pro';
  src: url('~assets/fonts/CodecPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;

  background: $main400;
  border-radius: 12px;
  color:$base0;
}
