@import "./styles/variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Codec Pro, sanserif;
  box-sizing:border-box;

  transition: color 200ms,background-color 200ms;
}


html, body, #__nuxt, #__layout {
  height: 100%;
}


@font-face {
  font-family: 'Codec Pro';
  src: url('~assets/fonts/CodecPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
